h1{
    text-align: center;
   
}

.Funfact1 {
background-color: aqua;
    width: 50%;
}
.Funfact2 {
    background-color: aqua;
    width: 50%;
}
.Funfact3 {
    background-color: aqua;
    width: 50%;
  
}